name: gotosocial

services:
  gotosocial:
    image: docker.io/superseriousbusiness/gotosocial:latest
    container_name: gotosocial
    user: 1000:1000
    networks:
      - gotosocial
    environment:
      GTS_HOST: slothsneed.coffee
      GTS_DB_TYPE: sqlite
      GTS_DB_ADDRESS: /gotosocial/storage/sqlite.db
      GTS_LETSENCRYPT_ENABLED: "false"
      GTS_LETSENCRYPT_EMAIL_ADDRESS: "micah@ilbery.co"
      GTS_WAZERO_COMPILATION_CACHE: /gotosocial/.cache
      GTS_TRUSTED_PROXIES: "172.18.0.1/16"
      TZ: $TZ
    ports:
      - 8069:8080
      - 127.0.0.1:8069:8080
    volumes:
      - /DATA/AppData/$AppID/data:/gotosocial/storage
      - /DATA/AppData/$AppID/.cache:/gotosocial/.cache
    restart: "always"
    x-casaos:
      envs:
        - container: GTS_HOST
          description:
              en_US: The host of your instance ex. example.com
        - container: GTS_LETSENCRYPT_EMAIL_ADDRESS
          description:
            en_US: Your email address used for letsencrypt.
      ports:
        - container: "8069"
          description:
            en_US: Instance WebUI Port.

networks:
  gotosocial:
    ipam:
      driver: default
      config:
        - subnet: "172.18.0.0/16"
          gateway: "172.18.0.1"

x-casaos:
  architectures:
    - amd64
  main: app
  description:
    en_us: GoToSocial - A fast, fun, ActivityPub server.
  tagline:
    en_us: GoToSocial - A fast, fun, ActivityPub server.
  developer: ''
  author: mti
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/webp/gotosocial.webp
  title:
    en_us: GoToSocial
  category: SocialMedia
  port_map: '8069'