name: servarr
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/homepage
        target: /app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - HOMEPAGE_ALLOWED_HOSTS: 0.0.0.0:3000
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    network_mode: service:gluetun
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.
      volumes:
        - container: /config
          description:
            en_us: Config directory.
        ports:
          - container: "3000"
            description:
              en_us: WebUI HTTP Port

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy #Gluetun
      - 8388:8388/tcp # Shadowsocks #Gluetun
      - 8388:8388/udp # Shadowsocks #Gluetun
      - 8112:8112 # Deluge UI
      - 6881:6881 # Deluge Incoming port TCP
      - 6881:6881/udp # Deluge Incoming port UDP
      - 58846:58846 # optional # Deluge Outgoing Port TCP
      - 9696:9696 # Prowlarr UI
      - 8989:8989 # Sonarr UI
      - 7878:7878 # Radarr UI
      - 8686:8686 # Lidarr UI
      - 8787:8787 # Readarr UI
      - 8191:8191 # Flaresover UI
      - 5055:5055 # Jellyseer
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/gluetun
        target: /gluetun
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_ADDRESSES=255.255.255.255/24
      - WIREGUARD_PRESHARED_KEY=abc123
      - WIREGUARD_PRIVATE_KEY=abc123
      - FIREWALL_VPN_INPUT_PORTS=12345
      - UPDATER_PERIOD=24h
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    network-mode: host
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.
        - container: VPN_SERVICE_PROVIDER
          description:
            en_us: VPN Provider
        - container: VPN_TYPE
          description:
            en_us: openvpn or wireguard
        - container: WIREGUARD_ADDRESSES
          description:
            en_us: Wireguard IP Addresses
        - container: WIREGUARD_PRESHARED_KEY
          description:
            en_us: VPN Preshared Key
        - container: WIREGUARD_PRIVATE_KEY
          description:
            en_us: VPN Private Key
        - container: FIREWALL_VPN_INPUT_PORTS
          description:
            en_us: Port Forward Ports
        - container: UPDATER_PERIOD
          description:
            en_us: Update Period

      volumes:
        - container: /gluetun
          description:
            en_us: Config directory.

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
      - DELUGE_LOGLEVEL=error
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/deluge
        target: /config
      - type: bind
        source: /DATA/Downloads/Incomplete
        target: /data/incomplete-downloads
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Deluge
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/deluge.webp
      - homepage.href=http://localhost:8112/
      - homepage.description=Downloads
    # ports:
    #   - 8112:8112 # Deluge UI
    #   - 6881:6881 # Deluge Incoming port TCP
    #   - 6881:6881/udp # Deluge Incoming port UDP
    #   - 58846:58846 # optional # Deluge Outgoing Port TCP
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/incomplete-downloads
          description:
            en_us: Incomplete downloads directory.
        - container: /data/downloads
          description:
            en_us: Completed downloads directory.

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/powlarr
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup/powlarr
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Prowlarr
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/prowlarr.webp
      - homepage.href=http://localhost:9696/
      - homepage.description=Proxy
    # ports:
    #  - 9696:9696 # Prowlarr UI
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/sonarr
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup/sonarr
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
      - type: bind
        source: /DATA/Media/Shows
        target: /data/shows
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Sonarr
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/prowlarr.webp
      - homepage.href=http://localhost:8989/
      - homepage.description=Shows
    # ports:
    #   - 8989:8989 # Sonarr UI
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.
        - container: /data/shows
          description:
            en_us: Shows directory.

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/radarr
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup/radarr
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
      - type: bind
        source: /DATA/Media/Movies
        target: /data/movies
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Radarr
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/radarr.webp
      - homepage.href=http://localhost:7878/
      - homepage.description=Movies
    # ports:
    #   - 7878:7878 # Radarr UI
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.
        - container: /data/movies
          description:
            en_us: Movies directory.

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/lidarr
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup/lidarr
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
      - type: bind
        source: /DATA/Media/Music
        target: /data/music
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Lidarr
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/lidarr.webp
      - homepage.href=http://localhost:8686/
      - homepage.description=Music
    # ports:
    #   - 8686:8686 # Lidarr UI
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.
        - container: /data/music
          description:
            en_us: Music directory.

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/readarr
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup/readarr
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
      - type: bind
        source: /DATA/Media/Books
        target: /data/books
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Readarr
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/readarr.webp
      - homepage.href=http://localhost:8787/
      - homepage.description=Books
    # ports:
    #   - 8787:8787 # Readarr UI
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.
        - container: /data/books
          description:
            en_us: Books directory.

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8191:8191 # Flaresover UI
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

  seerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: seer
    environment:
      - LOG_LEVEL=debug
      - TZ=$TZ
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/seerr
        target: /config
    restart: unless-stopped
    network_mode: service:gluetun
    labels:
      - homepage.group=Servarr
      - homepage.name=Seerr
      - homepage.icon=https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/jellyseerr.webp
      - homepage.href=http://localhost:5055/
      - homepage.description=Media Requests
    # ports:
    #   - 5055:5055 # Seer
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: homepage
  category: MTI
  developer: Various
  author: MTI
  tagline:
    en_US: Get all your Linux ISOs.
  description:
    en_US: A software suite for safely downloading Linux ISOs.
  icon: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Servarr/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Servarr/screenshot-1.png
  scheme: http
  index: /
  title:
    en_US: Servarr
  port_map: "3000"