name: lidarr
services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    network_mode: service:gluetun

    # ports:
    #   - 8686:8686 # Lidarr UI

    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ

    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
      - type: bind
        source: /DATA/Media/Music
        target: /data/music

    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.
        - container: /data/music
          description:
            en_us: Music directory.

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: lidarr
  category: MTI
  developer: Lidarr Developers
  author: MTI
  tagline:
    en_US: Find Your Music Library.
  description:
    en_US: Finding and keeping track of your music library.
  tips:
    before_install:
      en_US: Requires Gluetun already be installed.
  icon: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Lidarr/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Lidarr/screenshot-1.png
  thumbnail: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Lidarr/thumbnail.png
  scheme: http
  index: /
  title:
    en_US: Lidarr (VPN)
  port_map: "8686"
