name: sabnzbd
services:
  sabnzbd:
    image: linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: unless-stopped
    network_mode: service:gluetun

    # ports:
    #   - 8080:8080 # SabNZB UI

    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ
      - DELUGE_LOGLEVEL=error

    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config
        target: /config
      - type: bind
        source: /DATA/Downloads/Incomplete
        target: /data/incomplete-downloads
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads

    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/incomplete-downloads
          description:
            en_us: Incomplete downloads directory.
        - container: /data/downloads
          description:
            en_us: Completed downloads directory.

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: sabnzbd
  category: MTI
  developer: Sabnzbd Developers
  author: MTI
  tagline:
    en_US: Get all your Linux ISOs.
  description:
    en_US: Safely download Linux ISOs.
  tips:
    before_install:
      en_US: Requires Gluetun already be installed.
  icon: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Sabnzbd/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Sabnzbd/screenshot-1.png
  thumbnail: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Sabnzbd/thumbnail.png
  scheme: http
  index: /
  title:
    en_US: Sabnzbd (VPN)
  port_map: "8080"
