name: servarr
services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    network_mode: service:gluetun

    # ports:
    #   - 8787:8787 # Readarr UI

    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ

    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config/readarr
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/backup/readarr
        target: /backup
      - type: bind
        source: /DATA/Downloads/Complete
        target: /data/downloads
      - type: bind
        source: /DATA/Media/Books
        target: /data/books

    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.
        - container: /backup
          description:
            en_us: Backup directory.
        - container: /data/downloads
          description:
            en_us: Downloads directory.
        - container: /data/books
          description:
            en_us: Books directory.

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: readarr
  category: MTI
  developer: Readarr Developers
  author: MTI
  tagline:
    en_US: Find Your eBooks Library.
  description:
    en_US: Finding and keeping track of your eBook library.
  tips:
    before_install:
      en_US: Requires Gluetun already be installed.
  icon: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Readarr/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Readarr/screenshot-1.png
  thumbnail: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Readarr/thumbnail.png
  scheme: http
  index: /
  title:
    en_US: Readarr (VPN)
  port_map: "8787"
