name: cleanuparr
services:
  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    restart: unless-stopped
    network_mode: service:gluetun

    # ports:
    #   - "9705:9705"

    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config
        target: /config

    environment:
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ

    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.

      volumes:
        - container: /config
          description:
            en_us: Config directory.

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: huntarr
  category: MTI
  developer: Huntarr Developers
  author: MTI
  tagline:
    en_US: Find the missing pieces.
  description:
    en_US: Hunt down what's missing from your media library.
  tips:
    before_install:
      en_US: Requires Gluetun already be installed.
  icon: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Huntarr/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Huntarr/screenshot-1.png
  thumbnail: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Huntarr/thumbnail.png
  scheme: http
  index: /
  title:
    en_US: Huntarr (VPN)
  port_map: "9705"
