name: gluetun
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun

    ports:
      - 8888:8888/tcp # HTTP proxy #Gluetun
      - 8388:8388/tcp # Shadowsocks #Gluetun
      - 8388:8388/udp # Shadowsocks #Gluetun
      - 8112:8112 # Deluge UI
      - 6881:6881 # Deluge Incoming port TCP
      - 6881:6881/udp # Deluge Incoming port UDP
      - 58846:58846 # optional # Deluge Outgoing Port TCP
      - 8080:8080 # SabNZB UI
      - 9696:9696 # Prowlarr UI
      - 6767:6767 # Bazzarr UI
      - 8989:8989 # Sonarr UI
      - 7878:7878 # Radarr UI
      - 8686:8686 # Lidarr UI
      - 8787:8787 # Readarr UI
      - 8191:8191 # Flaresover UI
      - 5055:5055 # Seer
      - 11011:11011 # Cleanuparr
      - "9705:9705" # Huntarr

    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config
        target: /gluetun

    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_ADDRESSES=255.255.255.255/24
      - WIREGUARD_PRESHARED_KEY=abc123
      - WIREGUARD_PRIVATE_KEY=abc123
      - FIREWALL_VPN_INPUT_PORTS=12345
      - UPDATER_PERIOD=24h
      - PGID=$PGID
      - PUID=$PUID
      - TZ=$TZ

    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
        - container: PUID
          description:
            en_us: Run as specified uid.
        - container: PGID
          description:
            en_us: Run as specified gid.
        - container: VPN_SERVICE_PROVIDER
          description:
            en_us: VPN Provider
        - container: VPN_TYPE
          description:
            en_us: openvpn or wireguard
        - container: WIREGUARD_ADDRESSES
          description:
            en_us: Wireguard IP Addresses
        - container: WIREGUARD_PRESHARED_KEY
          description:
            en_us: VPN Preshared Key
        - container: WIREGUARD_PRIVATE_KEY
          description:
            en_us: VPN Private Key
        - container: FIREWALL_VPN_INPUT_PORTS
          description:
            en_us: Port Forward Ports
        - container: UPDATER_PERIOD
          description:
            en_us: Update Period

      volumes:
        - container: /gluetun
          description:
            en_us: Config directory.

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: gluetun
  category: MTI
  developer: Gluetun Developers
  author: MTI
  tagline:
    en_US: Route container traffic through a VPN
  description:
    en_US: Will route all network traffic from setup containers through a VPN.
  icon: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Gluetun/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Gluetun/screenshot-1.png
  thumbnail: https://cdn.jsdelivr.net/gh/micahilbery/mti-zima-appstore@main/Apps/Gluetun/thumbnail.png
  scheme: http
  index: /
  title:
    en_US: Gluetun
  port_map: "8888"
